{% extends "meet/layout.html" %}
{% load static %}
{% block links %}
  <script type="text/javascript" src="{% static 'meet/script.js' %}"></script>
{% endblock %}
{% block body %}
<div class="fc_display">
  <div class="left_half">
    <h4>{{ activity.title }}</h4>
    <p>{{ activity.description }}</p>
    <div class="left_half_members">
      <div class="fc_activity">
        <h5>Members in this activity ({{ users_list|length }})</h5>
        <div class="fc_activity_button">
          {% if request.user != activity.user %}
          {% if request.user.username in users_list %}
            <a href="{% url 'leave_activity' activity.id %}" class="btn btn-outline common_button">Leave Activity</a>
          {% else %}
            <a href="{% url 'join_activity' activity.id %}" class="btn btn-outline common_button">Join Activity</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="activity_users_fc">
        <p><a href="{% url 'user_profile' activity.user.username %}">{{ activity.user.username }}</a></p>
        <p class="activity_users_author">Author of this Activity</p>
      </div>
      {% for user in users %}
        {% if user.user.username != activity.user.username %}
          <p class="activity_users">
            <a href="{% url 'user_profile' user.user.username %}">{{ user.user.username }}</a>
            {% if kickuserout == "True" %}
            <a title="kick the user out" href="{% url 'kick_user_out' user.user.id  activity.id %}" class="user-minus"><i class="fas fa-user-minus"></i></a>
            {% endif %}
          </p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="right_half">
    <!--
    <div class="right_half_header">
      <p>Write Something</p>
    </div>
    -->
    <div class="right_half_body">
      {% for comment in users_comments %}
        {% if comment.user not in banned_users %}
        <div class="users_comments_on_activity">
          {% if request.user == comment.user%}
            <div class="fontawesome_icons">
              <a href="{% url 'edit_activity' comment.activity.id %}"><i class="far fa-edit fontawesome_edit_comment fontawesome_common"></i></a>
              <i data-id={{ comment.id }} class="far fa-trash-alt fontawesome_delete_comment fontawesome_common"></i>
            </div>
          {% endif %}
          {% if request.user == activity.user and comment.user != request.user %}
            <div class="fontawesome_icons">
              <a href="{% url 'ban_user' comment.user.id comment.activity.id %}"><i class="fas fa-ban" title="ban user"></i></a>
              <i data-id={{ comment.id }} class="far fa-trash-alt fontawesome_delete_comment fontawesome_common"></i>
            </div>
          {% endif %}

          <h5>{{ comment.user.username }}</h5>
          <p>{{ comment.comment }}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if request.user not in banned_users %}
    <div class="right_half_input">
      <form class="" method="post">
        {% csrf_token %}
        <!--<input type="text" name="comment" placeholder="Say Something over here!">-->
        <!--
        <textarea name="name" placeholder="Say Something over here!"></textarea>
        -->
        {{ form }}
        <button type="submit" class="btn common_button">Submit</button>
      </form>
    </div>
    {% endif %}
    <div id="delete_activity_page">
      <div class="delete_activity_conform_page">
        <div class="delete_activity_page_content" id="delete_activity_page_content">
          <h4>Delete Activity!</h4>
          <div id="closeform">
            <div class="line line1"></div>
            <div class="line line2"></div>
          </div>
          <div id="delete_activity_page_content_js"></div>
          <div class="delete_activity_page_content_js_buttons">
            <div class="delete_activity_page_content_js_buttons_1">

            </div>
            <div class="delete_activity_page_content_js_buttons_2">
              <button class="btn btn-outline common_button cancel_delete">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
