{% extends "meet/layout.html" %}
{% block body %}
<div class="fc_display">
  <div class="left_half">
    <h4>{{ activity.title }}</h4>
    <p>{{ activity.description }}</p>
    <div class="left_half_members">
      <div class="fc_activity">
        <h5>Members in this activity ({{ users_list|length }})</h5>
        <div class="fc_activity_button">
          {% if request.user != activity.user %}
          {% if request.user.username in users_list %}
            <a href="{% url 'leave_activity' activity.id %}" class="btn btn-outline common_button">Leave Activity</a>
          {% else %}
            <a href="{% url 'join_activity' activity.id %}" class="btn btn-outline common_button">Join Activity</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="activity_users_fc">
        <p>{{ activity.user.username }}</p>
        <p class="activity_users_author">Author of this Activity</p>
      </div>
      {% for user in users %}
        {% if user.user.username != activity.user.username %}
          <p class="activity_users">{{ user.user.username }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="right_half">
    <div class="right_half_header">
      <p>Write Your Thoughts</p>
    </div>
    <div class="right_half_body">

    </div>
    <div class="right_half_input">
      <input type="text" name="comment" placeholder="Say Something over here!">
    </div>
  </div>
</div>
{% endblock %}
