{% extends "meet/layout.html" %}
{% load static %}
{% block links %}
  <script type="text/javascript" src="{% static 'meet/script.js' %}"></script>
{% endblock %}
{% block body %}
  <div class="index_page">
    {% for activity in activities %}
      <div class="indexpage_activity" data-id={{ activity.id }}>
        <div class="fontawesome_icons">
          <a href="{% url 'edit_activity' activity.id %}"><i class="far fa-edit fontawesome_edit fontawesome_common"></i></a>
          <i class="far fa-trash-alt fontawesome_delete fontawesome_common"></i>
        </div>
        <div>
          {{ activity.user.username }}
        </div>
        <div>
          {{ activity.title }}
        </div>
        <div class="indexpage_posted_on">
          {{ activity.time|date:"F d, Y" }}
        </div>
      </div>
    {% endfor %}
  </div>
  <div id="delete_activity_page">
    <div class="delete_activity_conform_page">
      <div class="delete_activity_page_content" id="delete_activity_page_content">
        <h4>Delete Activity!</h4>
        <div id="closeform">
          <div class="line line1"></div>
          <div class="line line2"></div>
        </div>
        <div id="delete_activity_page_content_js"></div>
        <button class="btn btn-outline common_button cancel_delete">Cancel</button>
      </div>
    </div>
  </div>
{% endblock %}
