{% extends "meet/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
  <div class="fc">
    <div class="form_update" id="profile_info">
      <h4>{{ user.username }}</h4>
      <p>{{ user.profile.description }}</p>
    </div>
    {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }} form_update center">
              {{ message }}
            </div>
          {% endfor %}
    {% endif %}
    <form method="POST" class="form_update" id="profile_form">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Profile Info</legend>
            {{ user_info|crispy }}
            {{ profile_info|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
  </div>
{% endblock %}
