{% extends "meet/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="navigation register_nav">
  <a href="{% url 'login' %}" class="linktotheright">Log In</a>
</div>
<div class="fc">
    <div class="form-group form_register">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </form>
    </div>
</div>
{% endblock %}
