*{
  font-family: Arial, sans-serif;
}

html, body{
  padding: 0;
  margin: 0;
}

.fc{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.fc_display{
  height: calc(100vh - 60px);
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  color: #563d76;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
}

.fc_display > *{
  margin-right: 5px;
}

.left_half, .right_half{
  flex-basis: 40%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #563d76;
  border: 1px solid orange;
  border-radius: 10px;
}

.right_half{
  flex-basis: 60%;
}

.left_half{
  border: none;
  font-size: 18px;
}

.left_half p{
  margin: 0;
}

.left_half h4, .left_half > p{
  padding-left: 10px;
  border-left: 4px solid orange;
  border-top: 4px solid orange;
  line-height: 2;
  border-radius: 10px;
}

.left_half > p{
  border: none;
  border-right: 4px solid orange;
  border-bottom: 4px solid orange;
}

.left_half_members{
  padding: 10px;
}

.left_half_members h5{
  margin: 0;
  border-bottom: 2px solid #563d76;
}

.fc_profile{
  margin-top: 10px;
  justify-content: flex-start;
  min-height: min-content;
}

.form_register, .form_update, .password_forms, .activity_form, .index_page{
  width: 75%;
  min-width: 300px;
  max-width: 600px;
}

.index_page{
  margin: auto;
}

.index_page > *{
  margin: 10px;
}

.indexpage_activity > *{
  margin: 2px;
}

.indexpage_activity{
  border: 2px solid #563d76;
  color: orange;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  position: relative;
}

.indexpage_activity:hover{
  cursor: pointer;
}

.indexpage_activity .indexpage_posted_on{
  align-self: flex-end;
}

.form_update *, .password_change_form input, .password_change_form textarea, .activity_form input, .activity_form textarea{
  color: orange;
}

#profile_info > *, .password_change_form *, .activity_form{
  color: #563d76;
}

.form_update input:focus, .form_update textarea:focus{
  color: orange;
}

.form_update button, .password_reset_complete a, .pagination_links a, .common_button{
  color: orange;
  border-color: #563d76;
  background: #563d76;

  color: #563d76;
  border-color: orange;
  background: orange;
}

.form_update button[type="submit"]:hover, .form_update button[type="button"]:hover, .password_reset_complete a:hover, .pagination_links a:hover, #current_pagination_link, .common_button:hover{
  color: #563d76;
  border-color: orange;
  background: orange;

  color: orange;
  border-color: #563d76;
  background: #563d76;
}

.password_reset_complete a{
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 6px;
}

.form_update legend, .form_update label{
  color: #563d76;
}

fieldset div, form > *{
  margin: 10px 0px;
}

fieldset input, legend{
  margin-bottom: 15px;
}

fieldset input[type="submit"]{
  margin-bottom: 5px;
}

button[type="submit"]:hover, input[type="submit"]:hover{
  color: #fff;
}

form{
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.center{
  text-align: center;
}

.forgot_password{
  display: block;
}

.forgot_password a{
  text-decoration: none;
}

.forgot_password a:hover{
  text-decoration: underline;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  margin-bottom: 4px;
  background: #563d76;
  color: #cbbde2;
  letter-spacing: 0.1em;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navigation a{
  text-decoration: none;
  color: inherit;
  padding: 12px 24px;
  font-size: 18px;
}

.navigation a:hover{
  color: #fff;
}

.linktotheright{
  margin-left: auto;
}

@media screen and (max-width:1000px){
  .linktotheright{
    margin-left: 0;
  }
  .navigation > *{
    flex-basis: 25ch;
  }
}

#profile_form{
  margin-top: -4px;
  position: relative;
}

#profile_info{
  font-size: 18px;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  line-height: 2;
}

#profile_info h4{
  line-height: 2;
  margin-top: 10px;
  border-bottom: 2px solid orange;
}

#closeform{
  position: absolute;
  padding: 4px 8px;
  right: 18px;
  top: 24px;
}

#closeform:hover{
  cursor: pointer;
}

.line{
  width: 4px;
  height: 16px;
  background: #ccc;
}

.line1{
  position: absolute;
  transform: rotate(45deg);
}

.line2{
  transform: rotate(-45deg);
}

.absolute_nav{
  position: absolute;
  left: 0;
  right: 0;
}

.register_nav{
  position: relative;
  margin-bottom: 15px;
}

.margin_auto{
  display: inline-block;
  text-align: center;
}

.password_reset_complete > *{
  margin: 10px;
}

#password_change, #activity_form{
  color: #563d76;
  background: orange;
  border-color: orange;
}

#password_change:hover, #activity_form:hover{
  color: orange;
  background: #563d76;
  border-color: #563d76;
}

.pagination_links{
  text-align: center;
}

.fontawesome_icons{
  position: absolute;
  top: 10px;
  right: 10px;
}

.fontawesome_common{
  display: inline-block;
  padding: 4px;
  margin: 0 12px;
}

.fontawesome_common:hover{
  cursor: pointer;
}

#delete_activity_page{
  background: #fff;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  margin: 0px;
  opacity: 0.9;
}

.delete_activity_conform_page{
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  color: #563d76;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_activity_page_content{
  min-width: 300px;
  max-width: 600px;
  width: 75%;
  border: 2px solid #ccc;
  border-radius: 10px;
  position: relative;
  padding: 25px;
  box-shadow: 0 0 10px #ccc;
  font-size: 18px;
}

.delete_activity_page_content h4{
  padding-bottom: 6px;
  border-bottom: 1px solid #563d76;
}

.delete_activity_page_content #closeform{
  top: 27px;
  right: 26px;
}
.delete_activity_page_content p{
  line-height: 2;
  margin: 10px 0px;
}

#delete_activity_page_content_js{
  display: inline-block;
}

.text_decoration_none{
  text-decoration: none;
}

.fc_activity{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 15px 0;
}

.fc_activity > *{
  margin: 5px 0;
}

.fc_activity_button{
  margin-left: auto;
}

.activity_users_fc{
  display: flex;
  line-height: 2;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  margin: 10px 0;
}

.activity_users_fc > *{
  border-bottom: 1px solid #563d76;
}

.activity_users_fc p.activity_users_author{
  margin-left: auto;
}

.right_half *{
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
}

.right_half_header p{
  padding: 10px;
  padding-right: 50px;
  display: inline-block;
  font-size: 21px;
  color: orange;
  border-radius: 10px;
  border-left: 2px solid #563d76;
  border-bottom: 2px solid #563d76;
}

.right_half{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right_half > *{
  margin: 5px;
}

.right_half_header, .right_half_input{
  flex-basis: 15%;
}

.right_half_body{
  padding: 5px;
  padding-bottom: 0;
  flex-basis: 85%;
  height: 75%;
  overflow: auto;
}

.users_comments_on_activity{
  border: 2px solid orange;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 5px solid orange;
  margin-bottom: 5px;
}

.right_half_input input, .right_half_input textarea{
  border-radius: 10px;
  padding: 5px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-color: orange;
  border-top: 0;
  border-left: 0;
  color: #563d76;
}

input:focus, textarea:focus{
  outline: none;
}

.right_half_input *{
  margin: 0;
}

.right_half_input textarea{
  resize: none;
}

.right_half_input button{
  width: 100%;
}

.right_half_input .common_button:hover{
  color: orange;
}

.right_half_body{
  border: 2px solid #563d76;
  border-radius: 10px;
  box-shadow: 0 0 10px #563d76;
}

.right_half_body p{
  margin-bottom: 0.5em;
}

.right_half_input form{
  padding-top: 10px;
  padding-bottom: 5px;
}

.search_a_specific_activity .common_button:hover{
  color: orange;
}

.search_a_specific_activity input{
  color: orange;
}

.search_a_specific_activity *{
  color: #563d76;
}

.search_a_specific_activity legend{
  border-bottom: 1px solid orange;
}

.search_a_specific_activity button{
  margin-top: 0;
}
