*{
  font-family: Arial, sans-serif;
}

.fc{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.form_register, .form_update{
  width: 75%;
  min-width: 300px;
  max-width: 600px;
}

.form_update *{
  color: orange;
}

#profile_info > *{
  color: #563d76;
}

.form_update input, .form_update textarea{
  opacity: 0.8;
}

.form_update button{
  color: orange;
  border-color: #563d76;
  background: #563d76;

  color: #563d76;
  border-color: orange;
  background: orange;
}

.form_update button[type="submit"]:hover{
  color: #563d76;
  border-color: orange;
  background: orange;

  color: orange;
  border-color: #563d76;
  background: #563d76;
}

.form_update legend, .form_update label{
  color: #563d76;
}

fieldset div, form > *{
  margin: 10px 0px;
}

fieldset input, legend{
  margin-bottom: 15px;
}

fieldset input[type="submit"]{
  margin-bottom: 5px;
}

button[type="submit"]:hover, input[type="submit"]:hover{
  color: #fff;
}

form{
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.center{
  text-align: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  margin-bottom: 4px;
  background: #563d76;
  color: #cbbde2;
  letter-spacing: 0.1em;
  position: sticky;
  top: 0px;
}

.navigation a{
  text-decoration: none;
  color: inherit;
  padding: 12px 24px;
  font-size: 18px;
}

.navigation a:hover{
  color: #fff;
}

.linktotheright{
  margin-left: auto;
}
